.name {
	font-family: 'Bitter', sans-serif;
	color: #00bfff;
	font-size: 2.5em;
}

.left_header{
	float: left;
	padding-right: 20em;
}

.description{
	font-size: 2em;
}
.title1{
	font-size: 1.5em
}

.content{
	color: #708090;

}
