.name {
	font-family: 'Bitter', sans-serif;
	color: #00bfff;
	font-size: 2.5em;
}
.container{
	font-family: 'Roboto'. sans-serif;
}
.hatch-exp, .free-exp, .intern-exp, .teach-exp{
	font-size: 20px;
}
.content{
	font-size: 17px;
}
.left_header{
	float: left;
	padding-right: 20em;
	margin-top:1em;
}
.right_header{
	margin-top: 1em;
}

.description{
	font-size: 30px;
}
.title1{
	font-size: 30px;
}

.content, a{
	color: #708090;

}
.skills img{
	width: 75%;
}
.top-icon{
	font-size:25px;
}
.down-button{
	margin-bottom: 0.9em;
}